/* GLOBAL VARIABLES */

:root {

    /* MAIN UI COLORS */
    --body-background-color: #eee;
    --body-text-color: #222;

    /* LINK COLORS */
    --link-color: rgb(55, 0, 255);
    --link-color-hover: rgb(15, 0, 125);

    /* SANS SERIF */
    --sans-serif: Helvetica, Arial, sans-serif;

    /* SERIF */
    --serif: "Times New Roman", Times, serif;

}