/* --------------------
------ STRUCTURE ------
--------------------- */

/* SITE HEADER STYLING */
.site-header {
    background-color: #f1f1f1;
    padding: var(--unit-small);

    /* LEFT ALIGN LOGO & RIGHT ALIGN NAV */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* REMOVE UNDERLINE FROM ALL HEADER TEXT LINKS */
    a {
        text-decoration: none;
    }

    /* SITE LOGO */
    .site-logo {

        h1 {
            /* CONTROL LOGO TEXT SIZE & REMOVE MARGIN AND PADDING */
            font-size: 1.5em;
            margin: 0;
            padding: 0;
        }
    }

    /* SITE NAV */
    .site-nav {
        font-family: var(--font-headings);

        ul {
            /* MAKE NAV ITEMS DISPLAY SIDE BY SIDE */
            display: flex;
            gap: var(--unit-small);
            list-style: none;
        }

        li {
            margin: 0;
            padding: 0;
        }

    }

}

/* SITE FOOTER STYLING */
.site-footer {
    background-color: #eee;
    padding-block: var(--unit-small);

    /* REMOVE UNDERLINE FROM ALL FOOTER TEXT LINKS */
    a {
        text-decoration: none;

    }

    .footer-nav {
        font-family: var(--font-headings);

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin: 0;
            padding: 0;
        }

    }

}

/* HERO SECTION STYLING */
.hero {
    background-color: #ddd;
    padding-block: var(--unit-large);

}

/* SECTION STYLING */
section {
    padding-block: var(--unit-medium);
}

/* TWO COLUMN LAYOUT WITH ASIDE */
main:has(.sidebar) {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 2em;
}

aside {
    margin-top: 1em;
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    /* STICK THE ASIDE TO THE TOP ON SCROLL */
    position: sticky;
    top: 1em;
}

section {
    grid-column: 2 / 3;
}

.hero {
    grid-column: 1 / 3;
}